* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   list-style: none;
}

nav {
   background: steelblue;
   padding: 10px;
}

nav a {
   color: white;
   display: block;
   padding: 20px;
}

h1 {
   color: steelblue;
}

main p,
main h1 {
   padding: 0.2rem 1rem;
}

main img {
   width: 150px;
   height: auto;
   border: 1px solid steelblue;
   box-shadow: 0 0 30px gray;
   float: right;
   margin-right: 1rem;
   margin-left: 0.5rem;
}

p {
   padding: 0;
}

aside {
   color: rgb(46, 46, 46);
   text-align: center;
   position: relative;
}

aside h2 {
   position: absolute;
   top: 50px;
   left: 0;
   right: 0;
   margin: auto;
   color: white;
}

aside img {
   width: 300px;
   height: auto;
}

footer {
   border-top: 3px solid steelblue;
   padding-top: 0.2rem;
   margin-top: 2rem;
   text-align: center;
}

/* Class Selectors */

.box {
   margin: 1rem;
   border: 1px dashed #00000055;
   padding: 1rem;
   background-color: #d3daee;
}