nav {
   background: steelblue;
   padding: 10px;
}

nav a {
   color: white;
   display: block;
   padding: 20px;
}

h1 {
   color: steelblue;
}

main img {
   width: 150px;
   height: auto;
   border: 1px solid steelblue;
   box-shadow: 0 0 30px gray;
}

p {
   padding: 0;
}

aside {
   margin: 0.5rem;
   border: 3px solid rgba(18, 39, 0, 0.2);
   padding: 1.4rem;
   background-color: rgb(205, 238, 185);
   color: rgb(28, 63, 0);
   text-align: center;
}

aside img {
   width: 200px;
   height: auto;
}

footer {
   border-top: 3px solid steelblue;
   padding-top: 0.2rem;
   margin-top: 2rem;
   text-align: center;
}